/.idea/.idea.BlazorTest/.idea/indexLayout.xml
/obj/rider.project.model.nuget.info
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/rider.project.restore.info
/obj/project.packagespec.json
/obj/Debug/net8.0/staticwebassets/msbuild.BlazorTest.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/.idea/.idea.BlazorTest/.idea/encodings.xml
bin/
.idea/
/.idea/
/bin/
/obj/
