# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
bin/Debug/net8.0/  # Added specific directory

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Environment files
.env

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*