@using BlazorTest.Services.Analytics
@using BlazorTest.Services.Analytics.Util
@inject IJSRuntime JS

@if (!string.IsNullOrEmpty(CsvText))
{
    <div class="csv-icon" @onclick="DownloadCsv">
    </div>
}

@code {
    [Parameter]
    public List<ChartDataPoint> Data { get; set; }

    private string CsvText;

    protected override void OnParametersSet()
    {
        if (Data == null || Data.Count == 0)
        {
            CsvText = string.Empty;
            return;
        }

        CsvText = CsvExporter.ExportChartDataToCsv(Data);
    }

    private async Task DownloadCsv()
    {
        await JS.InvokeVoidAsync("downloadCsv", "laundromat-data.csv", CsvText);

    }
}