@inject IJSRuntime JS



<div style=" width: 30vw; display: flex;"><canvas id="@CanvasId"></canvas></div>

@code {
    [Parameter] public string CanvasId { get; set; } = "chartCanvas";
    [Parameter] public string[] Labels { get; set; }
    [Parameter] public decimal[] Values { get; set; }
    [Parameter] public string Title { get; set; } = "Chart";
    [Parameter] public string Type { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("renderChart", new
            {
                canvasId = CanvasId,
                labels = Labels,
                values = Values,
                title = Title,
                type = Type
                
                
            });
        }
    }

    protected override void OnParametersSet()
    {
            JS.InvokeVoidAsync("renderChart", new
            {
                canvasId = CanvasId,
                labels = Labels,
                values = Values,
                title = Title,
                type = Type
            });
    }
}