.csv-icon {
    width: 5vh;
    height: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-image: url("/icons/csv-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.csv-icon:hover {
    transform: scale(1.1);
}

.csv-icon:active {
    transform: scale(0.9);
}