.key-values-table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    box-sizing: border-box;
}

.key-values-table-container h2 {
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.key-values-table {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    position: relative;
    border: 0.1vw solid #ddd;
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.5vw;

    /* Firefox scrollbar */
    scrollbar-color: var(--main) #ffffff;
    scrollbar-width: thin;
}

.key-values-table tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.key-values-table tr {
    display: flex;
    min-height: calc(100% / 8);
    width: 100%;
    border-bottom: 0.1vw solid #ddd;
}

.key-values-table tr:last-child {
    border-bottom: none;
}

.key-values-table td {
    padding: 0.0vw;
    font-size: 1vw;
    align-content: center;
    justify-content: center;
}

.key-column {
    display: flex;
    font-weight: bold;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.key-column span {
    font-size: 0.8vw;
}

.value-column {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cell {
    color: #aaa;
    font-style: italic;
}

/* Hover effect */
.key-values-table tr:hover td {
    background-color: var(--main-transparent);
}