@rendermode InteractiveServer

<div class="key-values-table-container">
    <h2>@Title</h2>

    <div class="key-values-table-container-content">
        <table class="key-values-table">
            <tbody>
                @foreach (var item in Values.Take(6))
                {
                    <tr>
                        <td class="key-column">@item.Key</td>
                        <td class="value-column">@(item.Value.ToString("N2"))</td>
                    </tr>
                }
                @if (Values.Count() < 5)
                {
                    @for (int i = Values.Count(); i < 6; i++)
                    {
                        <tr>
                            <td class="key-column empty-cell">-</td>
                            <td class="value-column empty-cell">-</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Key Values";

    [Parameter]
    public List<KeyValuePair<string, decimal>> Values { get; set; } = new List<KeyValuePair<string, decimal>>();
}