@page "/"
@using Microsoft.EntityFrameworkCore
@using BlazorTest.Services
@using BlazorTest.Components
@using BlazorTest.Database
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="main-container">
    <div class="main-content">
        <SelectedLaudromats />
    </div>
</div>


@code {
}