@page "/"
@using Microsoft.EntityFrameworkCore
@using BlazorTest.Services
@using BlazorTest.Components
@using BlazorTest.Database
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<SelectedLaudromats />


@code {
}