@page "/"
@using Microsoft.EntityFrameworkCore
@using BlazorTest.Services
@using BlazorTest.Components
@using BlazorTest.Database
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="main-container">
    <div class="main-content">
        <div class="main-content-tabels">
            <SelectedLaudromats />
            <KeyValuesTable Title="Bank Revenue" KeyValuePairs="@(new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Bank 1", "1000"), new KeyValuePair<string, string>("Bank 2", "2000") })" />
        </div>

        <div class="main-content-graphs">

        </div>
    </div>

    <div class="main-special-container">
        <button @onclick='() => ChangeSelectedContent("Soap Statistics")'>Soap Statistics</button>
        <button @onclick='() => ChangeSelectedContent("Temperature Statistics")'>Temperature Statistics</button>
        <button @onclick='() => ChangeSelectedContent("Program Type Statistics")'>Program Type Statistics</button>
        <button @onclick='() => ChangeSelectedContent("Rinse Statistics")'>Rinse Statistics</button>


            <div class="main-special-content">
                        @if (!string.IsNullOrEmpty(selectedSpecialContent))
        {
                <div class="main-special-content-header">
                    <h2>@selectedSpecialContent</h2>
                </div>
                }
            </div>
    </div>
</div>


@code {
    private string selectedSpecialContent = "";

    private void ChangeSelectedContent(string content)
    {
        selectedSpecialContent = content;
    }
}