@page "/test"
@using BlazorTest.Services
@inject DataAnalysisService AnalysisService
@rendermode InteractiveServer


<h3>Test Bank Revenue Chart</h3>
<div>
<ChartComponent CanvasId="bankRevenueChart"
                Labels="@chartLabels"
                Values="@chartValues"
                Title="Revenue per Laundromat"
                Type="bar"/>
</div>
@code {
    private string[] chartLabels = [];
    private decimal[] chartValues = [];

    protected override async Task OnInitializedAsync()
    {

    }
}


